@import "~styles/base";

.contact-with-us-wrapper {
  background: #021025;
  padding: 3rem;
  border-radius: 65px;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    h1 {
      margin-top: 1rem;
    }
    button {
      width: 100%;
      text-align: left;
    }
  }

  .captions {
    h1,
    h5,
    p {
      color: white;
      margin-bottom: 0;
    }

    h5 {
      font-size: 2rem;
      font-weight: 900;
    }
    p {
      font-size: 1.3rem;
      font-style: italic;
      color: #8ba5cc;
    }
    h1 {
      font-size: 3rem;
    }
  }

  button {
    font-size: 16px;
    border-radius-top-left: 52px;
    box-shadow: none;
    text-decoration: none;
    border: none;
    padding: 0rem 0rem 1.5rem 0rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #eee;

    &:hover {
      opacity: 0.7;
    }
    svg {
      font-size: 3rem;
      margin-left: 1rem;
      position: relative;
      top: 7px;
      path {
        color: white;
      }
    }
  }
}
