@import "~styles/base";

.card-with-image-wrapper {
  position: relative;
  .image-icon {
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50px; /* Need a specific value to work */
    bottom: 50px;
    border: 2px solid #eee;
    margin: auto;
  }
}
.card-with-image {
  position: relative;
  transition: 0.5;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    .card-captions {
      transition: 0.5;
      background: linear-gradient(
        to right,
        rgba(113, 20, 239, 0.9),
        rgba(18, 39, 184, 0.5)
      );
    }
  }
  .card-image {
    width: 100%;
  }
  .card-captions {
    background: linear-gradient(
      to right,
      rgba(000, 000, 000, 0.5),
      rgba(18, 39, 184, 0.1)
    );
    clip-path: polygon(0 21%, 100% 2%, 100% 100%, 0% 100%);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 3px;
    width: 100%;
    padding: 25px 0 20px 0;
    text-align: center;

    h5 {
      color: white;
      font-weight: 900;
      font-size: 2rem;
      letter-spacing: 0.5px;
      font-family: "Roboto", sans-serif;
    }
  }
}
