$color-red: #ed3e4b;
$main-color: #7d26cd;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
