$color-red: #ed3e4b;
// $main-color: #7d26cd;
$main-color: #021025;
$main-color-gradient: linear-gradient(
  90deg,
  #0057b7 0%,
  $main-color 30%,
  $main-color
) !important;
$main-color-new: #0057b7;

/** Screen Size */
$smallDevice: 300px;
$deviceMode: 900px;

/* Default Colors */
$grey-50: #fafafc;
$grey-100: #f6f6fa;
$grey-200: #eaeaf2;
$grey-250: #e1e1e6;
$grey-300: #c4c4cd;
$grey-400: #747480;
$grey-450: #717171;
$grey-500: #2e2e38;
$grey-510: #2e2e3c;
$grey-550: #23232f;
$grey-600: #1a1a24;
$grey-800: rgba(0, 0, 0, 0.05);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  padding-right: 0 !important;
}

pre {
  font-size: 13px;
  font-family: monospace;
}

/* MUI styles */
.MuiFormHelperText-root {
  font-size: 1.3rem !important;
}

.MuiCircularProgress-circle {
  color: white;
}

.MuiSnackbarContent-message {
  color: #333;
  font-size: 1.4rem;
}
.MuiPaper-elevation {
  border-left: 3px solid $main-color;
  background: #fff !important;
}

.loading-text {
  text-align: center;
}

@mixin center-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
}
