$color-red: #ed3e4b;
// $main-color: #7d26cd;
$main-color: #7114ef;
$main-color-gradient: linear-gradient(
  90deg,
  #1475f7 0%,
  $main-color 10%,
  $main-color
) !important;
$smallDevice: 300px;
$deviceMode: 900px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  padding-right: 0 !important;
}

pre {
  font-size: 13px;
  font-family: monospace;
}

/* MUI styles */
.MuiFormHelperText-root {
  font-size: 1.3rem !important;
}

.MuiCircularProgress-circle {
  color: white;
}

.MuiSnackbarContent-message {
  color: #333;
  font-size: 1.4rem;
}
.MuiPaper-elevation {
  border-left: 3px solid $main-color;
  background: #fff !important;
}
