button.custom-button {
  color: #333;
  background: #ffffff;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
}

button.custom-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.custom-button-dark {
  background-color: #333;
  border-color: #eee;
  color: #fff;

  &:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #333;
  }
}

button.custom-button-light {
  background-color: #fff;
  color: #333;

  &:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #333;
  }
}
