@import "~styles/base";
.indicator-container {
  display: flex;
  align-items: center;
  border: 1px solid $grey-300;
  padding: 2rem;
  box-shadow: 3px 3px 3px #eee;
  margin-top: 1rem;
  background-color: $grey-200;
  border-radius: 2px;

  .icon-holder {
    margin-right: 2rem;
    background: $main-color-gradient;
    padding: 2rem;
    border-radius: 50%;
    border: 2px solid rgb(220, 219, 219);
    svg {
      font-size: 2rem;
      path {
        color: #fff;
      }
    }
  }
  .caption-holder {
    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
