@import "~styles/base";

.top-nav {
  background: $main-color-gradient;
  padding: 0.5rem;

  .top-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .contact-btn {
    color: white;
    border-color: white;

    @media screen and (max-width: 497px) {
      width: 170px;

      &:nth-child(2) {
        margin-bottom: 0;
      }
    }

    span {
      color: white;
      position: relative;
      top: -2px;
    }

    svg {
      position: relative;
      top: 4px;
      margin-left: 1rem;
      font-size: 15px;

      path {
        color: white;
      }
    }

    &:hover {
      color: #333;
      background-color: white;
      border-color: white;

      span,
      svg path {
        color: #333;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0.5rem 0;
    li {
      display: inline-block;
      margin-right: 3rem;
      color: white;
      font-size: 1.2rem;
      font-weight: 300;
      @media screen and (max-width: 497px) {
        margin-bottom: 1rem;

        &:nth-child(2) {
          margin-bottom: 0;
        }
      }

      .top-nav-icon {
        background-color: white;
        padding: 5px 7px;
        border-radius: 100%;
        text-align: center;
      }
      svg {
        position: relative;
        top: 1px;
        path {
          color: $main-color;
        }
      }

      span {
        margin-left: 0.8rem;
        font-weight: 400;
      }
    }
    li > * {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
    }
  }
}
