@import "~styles/base";

.home-container {
  .welcome-section {
    position: relative;
    margin-top: 1.5rem;
    height: 50vh;
    text-align: center;

    h2 {
      font-weight: 900;
      font-size: 6rem;
      color: white;
      text-transform: uppercase;
    }
    p {
      font-size: 1.6rem;
      font-weight: 300;
      color: white;
      width: 600px;
      margin: auto;
      margin-bottom: 2rem;
    }
  }

  .card-container {
    margin-top: -10rem;
  }
  .card-container-mobile {
    margin-top: 0rem;
  }

  .endorsement {
    &-image {
      width: 100%;
    }
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }
  }

  .services {
    position: relative;
    overflow: hidden;
    padding: 8rem 0;

    svg {
      path {
        color: white;
      }
    }

    h5,
    h1,
    p {
      color: white;
    }

    .header-title {
      color: white;
      text-align: center;
    }
    .bg-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #293742cc;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      opacity: 1;
    }
    .video-container {
      video {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .event-wrapper {
    margin-top: 5rem;
    .header-title {
      text-align: center;
      margin-bottom: 3rem;

      .divider {
        margin-top: 1rem;
      }
    }
  }

  .contact {
    padding: 10rem 0;
    background-size: cover;

    .header-title {
      color: white;

      h5 {
        font-weight: 300;
        color: white;
      }
      h1 {
        width: 450px;
        font-weight: 600;
        font-size: 4rem;
        color: white;
      }
    }
  }

  .appointment-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
}
