.coming-soon-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 0 3rem;
  overflow: hidden !important;

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .bg-overlay {
    background-color: #333;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: -1;
  }
  .content {
    img {
      width: 300px;
      margin-bottom: 3rem;
      z-index: 1000;
    }
    h5,
    p {
      color: #fff;
      margin: 0;
      z-index: 1000;
    }

    h5 {
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
    }

    p {
      font-family: "Marcellus SC", serif;
      line-height: 1.036;
      width: 1200px;
      font-size: 100px;
      font-weight: 300;
    }
  }
}
