.contact {
  .contact-section {
    padding: 5rem 0;
    background-size: cover;

    .header-title {
      color: white;

      h5 {
        font-weight: 300;
        color: white;
      }
      h1 {
        width: 450px;
        font-weight: 600;
        font-size: 4rem;
        color: white;
      }
    }
  }
}
