@import "~styles/base";
.content-card {
  .header {
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.2rem;
    color: $main-color;
    margin-bottom: 1rem;
    background-image: linear-gradient(to left, #7114ef, #1475f7);
    -webkit-background-clip: text;
    background-color: transparent;
    box-shadow: 2px 3px 3px rgb(221, 221, 221);
    border-radius: 46px;
    background-color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .description {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    border-left: 2px solid $main-color;
    padding-left: 2rem;
  }

  &-title {
    h1 {
      font-weight: 900;
      font-size: 3.6rem;
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  .divider {
    width: 50px;
    height: 3px;
    border-radius: 4px;
    background-color: $main-color;
    margin: 1rem 0 2rem 0;
  }
  &-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;

    h5 {
      font-size: 2.1rem;
    }
    p {
      width: 400px;
      font-size: 1.4rem;
      font-weight: 300;
    }

    img {
      width: 50px;
      margin-right: 2rem;
    }
  }
}

.content-card-mobile {
  margin-bottom: 3rem;
  .header {
    text-align: center;
  }
  .description {
    text-align: center;
  }
  .content-card-title {
    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
  .divider {
    margin: 1rem auto 2rem auto;
  }
  .content-card-icons {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 3px #eee;
    h5 {
      font-size: 2.1rem;
    }
    p {
      width: 80%;
      margin: auto;
    }
  }

  .description {
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 20px;
    font-size: 1.3rem;
  }
}
