.header-title {
  .title {
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.2rem;
    color: #7114ef;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to left, #7114ef, #1475f7);
    -webkit-background-clip: text;
    background-color: transparent;
    box-shadow: 2px 3px 3px #dddddd;
    border-radius: 46px;
    background-color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    font-size: 1.5rem;
  }
}
