@import "~styles/base";

.about {
  padding: 0rem 0 3rem 0;
  .wrapper {
    position: relative;
  }
  .line-svg {
    width: 500px;
    background-color: $main-color;
    opacity: 0.4;
    position: absolute;
    top: 4rem;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  .line-svg-left {
    left: 0;
  }
  .line-svg-right {
    right: 0;
  }

  .react-parallax-bgimage {
    left: 25% !important;
  }

  .content-card {
    padding: 3rem;
    @media screen and (max-width: 500px) {
      padding: 0rem;
    }
  }

  .header-title {
    margin-top: 5rem;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 3rem;

    h5 {
      color: $main-color;
    }

    h1 {
      width: 400px;
      margin: auto;
    }

    .divider {
      margin-top: 1rem;
    }
  }

  .team-members {
    img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .team-members-card {
      border-bottom: 3px solid $main-color;
      border-radius: 8px;
    }
    &-captions {
      text-align: center;
      margin: 1rem 0rem 1.5rem 0;

      h5 {
        font-weight: 900;
        font-size: 2.2rem;
        color: #333;
      }
      p {
        font-weight: 300;
        font-size: 1.3rem;
        color: $main-color;
      }
    }
  }
}
