@import "~styles/base";

$navlink-color: #232323;
$navlink-color-hovered: #0c5adb;

.navbar {
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 3px 3px 3px #eee;
  padding: 2rem 0;

  .container-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .navbar-mobile-button {
      svg {
        font-size: 3rem;
        color: #333;

        &:hover {
          color: $main-color;
        }
      }
    }

    .navbar-logo {
      img {
        width: 150px;
      }
    }
    .nav-links {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        margin-left: 3rem;
        font-size: 1.7rem;
        font-weight: 300;

        a {
          cursor: pointer;
          text-decoration: none;
          color: #333;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

.nav-links-drawer {
  list-style: none;
  li {
    margin-bottom: 1rem;
    width: 100%;
    padding: 2rem 10rem 2rem 2rem;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
      
      a {
        color: #fff;
      }
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #333;
    }
  }
}