@import "~styles/base";

.header-title {
  text-align: center;
  z-index: 999;
  position: relative;
  color: white;

  h5 {
    letter-spacing: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 900;
    font-size: 3.5rem;
  }

  .divider {
    width: 100px;
    height: 5px;
    background-color: $main-color;
    margin: auto;
    margin: 2rem auto 2rem auto;
  }
}
