@import "~styles/base";
.calendar-content {
  padding: 2rem 0;
  button {
    color: #fff;
  }

  .list-title {
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .fc-daygrid-block-event .fc-event-time,
  .fc-daygrid-block-event .fc-event-title {
    color: #fff !important;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
  }

  .MuiList-root {
    font-size: 2rem;
    margin: 0;

    li {
      padding: 0 !important;

      &:hover {
        border-right: 2px solid $main-color;
        cursor: pointer;
      }
    }

    span {
      font-size: 2rem;
      font-weight: 900;
      margin-top: 0;
      padding-top: 0;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

.event-drawer-description {
  font-size: 1.3rem !important;
  margin-bottom: 1rem !important;
}
