.services-content {
  .welcome-section {
    position: relative;
    img {
      width: 100%;
    }
    .captions {
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: center;
      z-index: 99;
      top: 0;
      h5 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 2.6rem;
        color: white;
      }
      h1 {
        color: white;
        font-weight: 900;
        font-size: 8rem;
        width: 800px;
      }

      @media screen and (max-width: 900px) {
        h5 {
          font-size: 1.6rem;
        }
        h1 {
          font-size: 2rem;
          width: 50%;
        }
      }
    }
  }

  .services-card-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .header-title {
      text-align: center;

      .divider {
        margin-top: 1rem;
      }
    }
  }
}
